<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title></title>
</head>
<body>
<form method = 'post'>
 {% csrf_token %}
 <h1>恭喜,你丫个{{username}}终于{{operation}}成功了啊！</h1>
</form>
<a href="http://localhost:8000/logout/">退出</a>
<a href="http://localhost:8000/checkcode/">来看一张羞羞的图片吧</a>
</body>
</html>